.about {
  margin: 0;
  padding: 0;
  background-color: $mainBG;

  .headline {
    @extend .section;
    margin: 0;
    height: 460px;
    width: 100vw;
  }

  h1 {
    padding: 8px;
  }
}

.sub_img {
  box-shadow: 5px 5px 5px #ccc;
  float: left;
  margin: 10px;
  object-fit: contain;
}
.article_wrapper {
  display: block;
  margin: 25px 35px;
}

.article_part {
  display: flex;
  padding-left: 5px; 
  p {
    margin: 25px 20px 15px;
  }
  .verticle_line2 {
    @extend .verticle_line;
    margin: 4% 3% 0px 10%;
  }
}