html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: $primaryFont;
  font-family: $primaryFamily;
}

h1, h2, h3 {
  font-family: $headerFont;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
}

p {
  font-family: $primaryFont;
  font-weight: 100;
  text-align: left;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: $linkColor;

  &:hover{
    color: $hoverColor;
  }
}

hr {
  @include pretty_hr;
}


