.admin .application .application_detail {
  border-right-color: #CFEBEA;
  margin: 0;
  padding: 0px 15px;

  p {
    width: 100%;
  }
}

.designer_options {
  height: 26px;
  width: 55%;
}

.admin .application {
  p {
    width: 40%;
    margin: auto;
  }
}

.designers .application .application_detail {
  border-right-color: #CFEBEA;
}