.event_brite {
  width: 55vw;
}

.donation .application {
  
  font-style: italic;
  
  .app_icon_wrapper {
    width: 50%;
    text-align: center;
  }
  .application_detail {
    
    font-style: normal;
    width: 50%;

    select {
      font-size: 0.8rem;
      height: 28px;
      width: 250px;
    }
    .paypal_btn {
      width: inherit;
    }
  }
}
