.event_brite {
  width: 55vw;
}

.donation .application {
  
  font-style: italic;
  
  .app_icon_wrapper {
    width: 50%;
    text-align: center;
  }

  a {
    color: blue;
  }
  .application_detail {
    font-style: normal;
    width: 50%;

    td {
      height: 40px;
    }
    select {
      background-color: rgb(248, 248, 248);
      border: 2px solid rgb(166,166,166);
      cursor: pointer;
      font-size: 0.8rem;
      height: 28px;
      width: 250px;
    }
    .paypal_btn {
      width: inherit;
    }
  }
}
