.footer {
  padding: 0.5rem;
  font-size: 0.6rem;
  background-color: #fafafa;
  text-align: center;
  color: $footerBG;

  .iconContainer{
  display: flex;
  justify-content: space-between;
  margin: 2vh 25vw;

    .fa{
      font-size: 50px;
      color: $faColor;
    }

    i {
      border: none;
    }
  }

  .footer_logo {
    width: 80px;
  }
  
  hr{
    @include pretty_hr;
  }

  p{
    font-size: 0.6rem;
    text-align: center;
  }
}