.home {
  background: $mainBG;
  margin: 0px 10.1% 0px 9.9%;

  .section {
    justify-content: space-between;
  }
}
.sub_main{
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  box-shadow: 5px 5px 5px #ccc;
  margin: 5px;
  opacity: 0.95;
  // width: 50%;
}