@media screen and (max-width: 750px){
  .section {
    display: flex;
    flex-direction: column;
    margin: 0px 5% 20px 5%;
  }

  .sub_main {
    width: 100%;
    max-width: 45%;
    box-shadow: none;
    &:hover {
      box-shadow: 5px 5px 5px #ccc;
    }
  }

  .main {
    height: 50%;
    margin-bottom: 30px;
    width: 95%;
    max-width: 95%;
    text-align: left;
  }

  // .toggle_container {
  //   height: 0;
  // }

  // .toggle_container ~ #toggle:checked {
  //   height: 200px;
  // }

  .nav > ul {
    opacity: 0;
  }

  #toggle:checked {
    ~ .nav > ul {
      opacity: 1;
    }
  }

  .sub_img {
    display: none;
  }

  .about > .headline {
    background-position-x: center;
    background-position-y: -70px;
    margin: 0;
  }

  .volunteer {
    width: 90%;

    .verticle_line2 {
      display: none;
    }
  }

  .article_wrapper {
    margin: 25px 5px;
  }

  .event_header {
    display: none;
  }

  .event_brite2 {
    width: 85vw;
  }

  .donation .app_icon_wrapper {
    display: none;
  }

  .donation .application .application_detail {
    margin: 0;
    border: none;
  }

  .donation .event_brite {
    width: 88vw;
  }
}
