@media screen and (max-width: 750px){

 //sub_menu for downdrop mobile version
  @mixin sub_menu_mobile {
    .nav_items .sub_nav {
      position: relative;
      width: 100%;

      .sub_items {
        display: block;
        height: 1%;
        padding: 0;
        text-align: center;
      }
    }
  }

  .section {
    @include flex;
    @include flex-direction(column);
    margin: 0px 5% 20px 5%;
  }

  // .header .nav ul a[href="/about"]{
  //   .nav_items .sub_nav li {
  //     height: 0;
  //   }
  // }

  // .header .nav ul a[href="/about"]:hover{
  //   @include sub_menu_mobile;
  // }

  .header .nav ul div[name="events"]:hover{
    @include sub_menu_mobile; 
  }

  .header .nav ul div[name="volunteers"]:hover{
    @include sub_menu_mobile; 
  }

  .volunteer .application  {
    @include flex-direction(column);

    p {
      padding-bottom: 15px;
      text-align: center;
    }
  }

  .volunteer .application .application_detail {
    border: none;
    border-top: 1px solid $mainBG;
    margin: 0;
    
    p {
      padding-top: 15px;
      text-align: left;
    }
  }

  .home {
    margin: 0px 10%;

    section {
      margin: 0;
    }

    .main_sub {
      margin-bottom: 0;
    }
  }

  .sub_main {
    box-shadow: none;
    opacity: 1;
    width: 100%;
    max-width: 45%;
    &:hover {
      box-shadow: 5px 5px 5px #ccc;
    }
  }

  .main {
    height: auto;
    margin-bottom: 30px;
    width: 95%;
    max-width: 95%;
    text-align: left;
  }

  .main_sub {
    width: 95%;

    .sub_main {
      width: 45%;
    }
  }

  .nav > ul {
    opacity: 0;
  }

  #toggle:checked {
    ~ .nav > ul {
      opacity: 1;
    }
  }

  .sub_img {
    display: none;
  }

  .about > .headline {
    background-position-x: center;
    background-position-y: -70px;
    margin: 0;
  }

  .volunteer {
    width: 90%;

    .verticle_line2 {
      display: none;
    }
  }

  .article_wrapper {
    margin: 25px 5px;
  }

  .event_header {
    display: none;
  }

  .event_brite2 {
    width: 85vw;
  }

  .scroll .article_wrapper {
    margin: 25px;
  }


  .scroll .application .application_detail {
    max-height: 400px;
    overflow: scroll;
  }

  .donation .app_icon_wrapper {
    display: none;
  }

  .donation .application .application_detail {
    border: none;
    font-style: italic;
    margin: auto;
  }

  .donation .event_brite {
    width: 88vw;
  }

  .contact .article_wrapper {
    margin: 18px 0px 0px;
  }

  .footer .iconContainer {
    justify-content: space-around;
    margin: 0;
  }
}

