@media screen and (max-width: 750px){
  .section {
    margin: 0px 5% 0px 5%;
  }

  .main_sub {
    display: none;
  }
  .main {
    height: 100%;
    margin-bottom: 30px;
    width: 100%;
  }

  .nav > ul {
    opacity: 0;
  }

  #toggle:checked {
    ~ .nav > ul {
      opacity: 1;
    }
  }

  .sub_img {
    display: none;
  }

  .about > .headline {
    background-position-x: center;
    background-position-y: -70px;
  }

 .volunteer .article_part p {
    display: none;
  }

  .event_brite2 {
    width: 70vw;
  }
}
