.section {
  display: flex;
  margin: 0px 118px 0px 116px;
}

.main {
  background-color: $sectionBG;
  // box-shadow: 5px 5px 5px #ccc*1.2;
  color: $fontColor;
  height: 482px;
  padding: 5px 5px 0px 25px;
  width: 50%;
  
  button {
    @include btn;
  }
}


.main_sub {
  @extend .main;
  align-content: space-between;
  background-color: $mainBG;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 0px;
  padding: 5px 5px 25px;

  button {
    background: transparent;
    border: 1px solid $mainBG;
    margin: 145px 30px 38px;
    width: 115px;
  }
}

.sub_main {
  height: 224px;
  margin: 0px;
  padding: 0px;
  width: 174px;
  
  span {
    position: relative;
    top: 35px;
    left: 41px;
  }
}
