.section {
  @include flex;
}

.main {
  background-color: $sectionBG;
  // box-shadow: 5px 5px 5px #ccc*1.2;
  color: $fontColor;
  height: 464px;
  padding: 5px 5px 0px 25px;
  width: 50%;
  // max-width: 374px;
  
  button {
    @include btn;
  }
}


.main_sub {
  // @extend .main;
  // height: 482px;
  color: $fontColor;
  // align-content: space-between;
  background-color: $mainBG;
  @include flex;
  @include flex-direction(row);
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 0px;
  padding: 5px 5px 25px;
  width: 50%;
  // max-width: 374px;

  button {
    @include btn;
    background: transparent;
    border: 1px solid $mainBG;
    margin: 0;
    position: relative;
    top: 65%;
    width: 80%;

    &:hover {
      background: $mainBG;
      color: $btnPrimary;
    }
  }
}

.sub_main {
  height: 224px;
  margin: 0px;
  padding: 0px;
  width: 45%;
  // max-width: 174px;
  text-align: center;
  
  &:hover {
    box-shadow: 5px 5px 5px #ccc;
  }

  span {
    position: relative;
    top: 35px;
  }
}
