.section {
  display: flex;
  height: 85vh;
  margin: 0px 118px 0px 116px;
  width: 85vw;
}

.section > article:first-child {
  margin-right: 50px;
}

.main {
  background-color: $sectionBG;
  box-shadow: 8px 11px 5px #ccc;
  color: $fontColor;
  height: 482px;
  padding: 5px 5px 0px 25px;
  width: 434px;
  
  button {
    @include btn;
  }
}


.main_sub {
  @extend .main;
  align-content: space-between;
  background-color: $mainBG;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 0px;
  padding: 0;

  button {
    // @include .btn;
    background: transparent;
    border: 1px solid $mainBG;
    height: 6.8vh;
    margin: 145px 30px 38px;
    width: 115px;
  }
}

.sub_main {
  width: 174px;
  height: 224px;
  
  span {
    position: relative;
    top: 35px;
    left: 41px;
  }
}
