.volunteer_btn {
  background: $btnPrimary;
  border: 1px solid $mainBG;
  color: $btnFont;
  height: 5vh;
  margin: 25px 20px 0;
  width: 135px;
}

.list_dot>li{
  text-align: left;
}

.volunteer {
  @extend .section;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #ccc;
  margin-bottom: 10vh;

  .article_part {
    padding: 125px 0px 0px 20px;

    p {
      margin: -90px 0px 0px;
    }
  }
  .verticle_line2 {
    margin-top: -90px;
  }
  .sub_img {
    box-shadow: none;
  }
}