.volunteer_btn {
  background: $btnPrimary;
  border: 1px solid $mainBG;
  color: $btnFont;
  height: 35px;
  margin: 30px auto 0px;
  width: 135px;
  display: block;
}

.list_dot>li{
  text-align: left;
}

.volunteer {
  @extend .section;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #ccc;
  margin-bottom: 10vh;
  width: 85%;
  
  .sub_img {
    box-shadow: none;
  }
  
  .application {
    display: flex;
    // margin: 25px 35px 25px 35px;
    width: 100%;

    .app_icon_wrapper{
      position: relative;
      width: 50%;
      margin: auto;
    }

    .application_detail {
      border-right: 1px solid $sectionBG;
      margin: auto 0px auto 45px;
      width: 100%;

      input {
        width: 110%;
        height: 23px;
        border-radius: 5px;
      }

      button {
        background: transparent;
        border: 2px solid $btnPrimary;
        border-radius: 5px;
        color: $btnPrimary;
        height: 30px;
        width: 50%;
      }
    }
  }
}





