.volunteer_btn {
  background: $btnPrimary;
  border: 1px solid $mainBG;
  color: $btnFont;
  height: 35px;
  margin: 30px auto 0px;
  width: 135px;
  display: block;
}

.list_dot>li{
  text-align: left;
}

.volunteer {
  @extend .section;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #ccc;
  margin-bottom: 10vh;
  width: 80%;
  
  .sub_img {
    box-shadow: none;
  }
  
  .application {
    display: flex;
    // margin: 25px 35px 25px 35px;
    width: 100%;

    .app_icon_wrapper{
      position: relative;
      width: 50%;
      margin: auto;
      text-align: center;
    }

    .application_detail {
      border-right: 1px solid $sectionBG;
      margin: auto 0px auto 45px;
      width: 100%;

      p {
        padding: 5px;
      }

      input {
        width: 100%;
        height: 23px;
        border-radius: 5px;
      }

      .article_wrapper p {
        padding: 0;
      }

      button {
        background: transparent;
        border: 2px solid $btnPrimary;
        border-radius: 5px;
        color: $btnPrimary;
        height: 30px;
        width: 50%;
      }
    }
  }
}

.app_icon_wrapper2 {
  margin: auto 0px auto 45px;
  width: 100%;

  .circle_icon {
    background: $sectionBG;
    border-radius: 100%;
    padding: 20px 15px 15px 19px;
    margin: auto;
    width: 85px;
  }
  
  h4 {
    text-align: center;
  }
}





